.books{

  &__cover{
    img{
      width: 100%;
    }
  }

  &__container{
    margin: 100px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    justify-content: center;
  }
}

.book{
  border: 1px solid rgba(0,0,0,.125);
  background-color: #fff;
  padding: 10px;

  display: grid;
  row-gap: 10px;

  &__img{
    width: 100%;
  }

  &__name{
    color: #0066c0;
  }

  &__category{
    color: #565959;
    text-transform: capitalize;
    position: relative;
    padding-left: 8px;
    color: #0066c0;

    &:before{
      content: "\203A";
      color: #949494;
      display: block;
      font-weight: 700;
      position: absolute;
      left: 0;
      top: -1px;
    }
  }

  &__price{
    color: #B12704;
  }
}