.navbar {
  background-color: $color-bg;
  color: $color-text;

  &-container {
    padding: 0px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__brand{
    display: flex;
    align-items: center;
    svg{
      fill: #fff;
      margin-right: 10px;
      display: inline-block;
    }
    font-weight: 600;
    font-size: 20px;
    margin: 0;
  }

  &__btn{
    background-color: #c69963;
    color: #fff;
    border: none;
    border-radius: 0;
    font-size: 13px;
    text-transform: uppercase;
    padding: 12px 25px;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: 600;
  
    &:hover {
      background-color: #B28451;
    }
  }
}
